*{
    margin: 0;
}
.body{
    padding:  0;
    position: absolute;
    width: 100%;
    height: max-content;
    top: -10px;
    overflow: hidden;
}
.slider{
    height: 45vw;
    background-image: url(shcfdn_image/10.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    animation: slide 50s infinite;
    background-attachment: fixed;
    transition: 1s ease;
}
@media screen and (max-width:600px){
    .slider{
        height: 120vw;
    }
}
.slider .abs{
    background-color: black;
    height: 45vw;
    width: 100%;
    position: absolute;
    opacity: 60%;
}
@media screen and (max-width:600px){
    .slider .abs{
        height: 120vw;
    }
}
.slider .rel{
    color: white;
    width: 80%;
    text-align: center;
    position: relative;
    margin: auto;
    font-size: 2vw;
    top: 17vw;
    font-family: sans-serif;
    transition: 2s ease;
    left: 100%;
}
@media screen and (max-width:600px){
    .slider .rel{
        font-size: 3vw;
        top: 47vw;
    }
}
.slider .rel h2{
    font-family: serif;
    text-transform: uppercase;
    letter-spacing: .2vw;
}
header{
    padding: 10px 0;
    background-color: transparent;
    position: fixed;
    top: 0;
    width: 100%;
    height: max-content;
    transition: 1s ease;
}
.menu{
    width: 100%;
    position: relative;
    margin: auto;
    height: max-content;
    display: grid;
    grid-template-columns: auto auto auto;
}
.menu .logo{
    width: max-content;
    height: max-content;
}
.menu .logo img{
    width: 10vw;
}
@media screen and (max-width:600px){
    .menu .logo img{
        width: 20vw;
    }
}
.menu .option{
    font-family: sans-serif;
    font-weight: bold;
    color: white;
    word-spacing: 5vw;
    position: relative;
    top: 3vw;
    height: max-content;
}
@media screen and (max-width:1000px){
    .menu .option{
        display: none;
    }
}
.menu .option ul{
    list-style: none;
}
.menu .option ul li{
    display: inline;
    cursor: pointer;
}
.menu .media{
    color: white;
    display: grid;
    grid-template-columns: auto auto;
    position: relative;
    top: 3vw;
    height: max-content;
}
.menu .media .social{
    word-spacing: 1vw;
    cursor: pointer;
}
@media screen and (max-width:600px){
    .menu .media .social{
       display:none;
    }
    }
.ham{
    padding: 3px;
    background-color: transparent;
    border: 2px solid white;
    width: max-content;
    height: max-content;
    display: none;
    background-color:black;
}
@media screen and (max-width:1000px){
    .ham{
        display: block;
    }
}
.ham .burger{
    background-color: white;
    width: 40px;
    height: 6px;
    margin: 5px 4px;
}
@keyframes slide {
    10%{background-image: url(shcfdn_image/4.jpeg);}
    30%{background-image: url(shcfdn_image/5.jpeg);}
    50%{background-image: url(shcfdn_image/9.jpg);}
    70%{background-image: url(shcfdn_image/11.jpg);}
    100%{background-image: url(shcfdn_image/18.png);}
}
.one{
    height: max-content;
    width: 100%;
    padding: 10px 0;
    position: relative;
    bottom: 8vw;
}
.one-cont{
    width: 90%;
    height: max-content;
    position: relative;
    margin: auto;
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 15px;
    transition: 1s ease;
}
@media screen and (max-width:800px){
    .one-cont{
        grid-template-columns: auto auto;
    }
}
.one-col {
    text-align: center;
    transition: 2s ease;
    position: relative;
    transition: 1s ease;
}
.one-col:nth-child(even){
    right: 500%;
}
.one-col:nth-child(odd){
    top: 200%;
}
.one-col img{
    width: 100%;
    box-shadow: 0px 10px 20px rgb(142, 141, 141);
}
.one-col button{
    border: 0;
    padding: 1vw;
    position: relative;
    bottom: 70px;
    cursor: pointer;
    background-color: rgb(251, 48, 82);
    color: white;
    font-weight: bold;
    transition: 2s ease;
    display: none;
}
@media screen and (max-width:800px){
    .one-col button{
        padding: 2vw;
    }
}
.two{
    position: relative;
    margin:0px auto 50px;
    width: 80%;
    font-family: sans-serif;
}
.two-cont{
    width: 100%;
    height: max-content;
    display: grid;
    grid-template-columns: auto auto;
    gap: 4vw 10vw;
    margin-top: 30px;
}
@media screen and (max-width:800px){
    .two-cont{
        grid-template-columns: auto;
        text-align: center;
    }
}
.two-col{
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
}
.two-col h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(248, 78, 107);
    text-align: left;
    font-size: 1.5vw;
}
@media screen and (max-width:650px){
    .two-col h2{
        font-size: 4vw;
    }
}
.two-col p{
font-size: 2.5vw;
}
.two-col span{
    font-size: 500%;
    
    padding: 10px 15px;
    margin: 3px;
}
@media screen and (max-width:800px){
    .two-col p{
        text-align: justify;
    }
}
.latest{
    background-color: rgb(250, 247, 247);
    width: 100%;
    position: relative;
    margin: auto;
    text-align: center;
    padding: 30px 0;
    font-family: sans-serif;
    color: rgb(42, 42, 42);
}
.latest .l-p{
    width: 85%;
    position: relative;
    margin: auto;
}
.three{
    width: 90%;
    position: relative;
    margin: auto;
    display: grid;
    grid-template-columns: auto auto;
    gap: 40px;
}
@media screen and (max-width:600px){
    .three{
        grid-template-columns: auto;
    }
}
.three div{
    padding: 20px;
    background-color: rgb(248, 78, 107);
    box-shadow: inset 3px 3px 5px white, 0px 10px 40px rgb(164, 163, 163), inset -3px -3px 5px white;
    color: white;
}
.three img{
    width: 100%;
}
.four{
    background-image: url(shcfdn_image/11nn.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 40px 0;
    text-align: center;
}
.four div{
    background-color: black;
    width: 85%;
    position: relative;
    margin: auto;
    opacity: 70%;
    padding: 20px 10px;
    text-align: center;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.four h2{
   font-size: 2vw;
}
@media screen and (max-width:700px){
    .four h2{
        font-size: 4vw;
    }
}
.four form input{
    width: 60%;
    font-size: 20px;
    outline: 0;
    border: 0;
    height: 50px;
}
.four form button{
    width: max-content;
    padding: 10px 14px;
    border: 0;
    background-color: rgb(248, 78, 107);
    color: white;
}
footer{
    background-color: rgb(166, 3, 30);
    padding: 10px 0;
    width: 100%;
    text-align: center;
}
footer img{
    width: 15vw;
}
.mobilemenu{
   position:fixed;
    height:100%;
    width:60%;
    color:white;
    background-color:black;
    left:20%;
    font-family: sans-serif;
    padding:0 10%;
}
.mobilemenu h2{
    text-align:left;
    padding:20px 0;
}
.mobilemenu span{
    padding:7px;
    background-color:pink;
}
    
