*{
    margin: 0;
}
a{
    color: unset;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
}
.body{
    padding:  0;
    position: absolute;
    width: 100%;
    height: max-content;
    top: -10px;
    overflow: hidden;
}
.slider{
    height: 45vw;
    background-image: url(shcfdn_image/10.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    animation: slide 50s infinite;
    background-attachment: fixed;
    transition: 1s ease;
}
@media screen and (max-width:600px){
    .slider{
        height: 120vw;
    }
}
.slider .abs{
    background-color: black;
    height: 45vw;
    width: 100%;
    position: absolute;
    opacity: 60%;
}
@media screen and (max-width:600px){
    .slider .abs{
        height: 120vw;
    }
}
.slider .rel{
    color: white;
    width: 80%;
    text-align: center;
    position: relative;
    margin: auto;
    font-size: 2vw;
    top: 12vw;
    font-family: sans-serif;
    transition: 2s ease;
    left: 100%;
}
@media screen and (max-width:600px){
    .slider .rel{
        font-size: 5vw;
        top:38vw;
    }
}
.slider .rel h2{
    font-family: serif;
    text-transform: uppercase;
    letter-spacing: .2vw;
    font-size: 5vw;
}
@media screen and (max-width:600px){
    .slider .rel h2{
        font-size:7vw;
    }
}
.slider .rel button{
    border: 0;
    padding: 1vw 2vw;
    text-transform: uppercase;
    background-color: #791e15;
    color: white;
    font-weight: bold;
    margin-top: 20px;
}
@media screen and (max-width:600px){
    .slider .rel button{
        padding: 3.3vw 3vw;
    }
}
header{
    padding: 10px 0;
    background-color: transparent;
    position: fixed;
    top: 0;
    width: 100%;
    height: max-content;
    transition: 1s ease;
    font-weight: bold;
}
.menu{
    width: 100%;
    position: relative;
    margin: auto;
    height: max-content;
    display: grid;
    grid-template-columns: auto auto auto;
}
.menu .logo{
    width: max-content;
    height: max-content;
    position: relative;
    left: 10px;
}
.menu .logo img{
    width: 15vw;
    background-color: transparent;
}
@media screen and (max-width:600px){
    .menu .logo img{
        width: 25vw;
    }
}
.menu .option{
    font-family: sans-serif;
    font-weight: bold;
    color: white;
    word-spacing: 5vw;
    position: relative;
    top: 3vw;
    height: max-content;
}
@media screen and (max-width:1000px){
    .menu .option{
        display: none;
    }
}
.menu .option ul{
    list-style: none;
}
.menu .option ul li{
    display: inline;
    cursor: pointer;
    border-bottom: 2px solid #791e15;
    padding:2px 4px;
}
.menu .media{
    color: white;
    display: grid;
    grid-template-columns: auto auto;
    position: relative;
    top: 3vw;
    height: max-content;
    font-weight: bold;
}
.menu .media .social{
    word-spacing: 1vw;
    cursor: pointer;
}
@media screen and (max-width:600px){
    .menu .media .social{
       display:none;
    }
    }
.ham{
    padding: 3px;
    background-color: transparent;
    border: 2px solid black;
    width: max-content;
    height: max-content;
    display: none;
    background-color:#791e15;
    cursor: pointer;
}
@media screen and (max-width:1000px){
    .ham{
        display: block;
    }
}
.ham .burger{
    background-color: white;
    width: 40px;
    height: 6px;
    margin: 5px 4px;
}
@keyframes slide {
    10%{background-image: url(shcfdn_image/4.jpeg);}
    30%{background-image: url(shcfdn_image/5.jpeg);}
    50%{background-image: url(shcfdn_image/9.jpg);}
    70%{background-image: url(shcfdn_image/11.jpg);}
    100%{background-image: url(shcfdn_image/18.png);}
}
.one{
    height: max-content;
    width: 100%;
    padding: 10px 0;
    position: relative;
    bottom: 8vw;
    
}
.one-cont{
    width: 90%;
    height: max-content;
    position: relative;
    margin: auto;
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 15px;
    transition: 1s ease;
}
@media screen and (max-width:800px){
    .one-cont{
        grid-template-columns: auto auto;
    }
}
.one-col {
    text-align: center;
    transition: 2s ease;
    position: relative;
    transition: 1s ease;
}
.one-col:nth-child(even){
    right: 500%;
}
.one-col:nth-child(odd){
    top: 200%;
}
.one-col img{
    width: 100%;
    box-shadow: 0px 10px 20px rgb(142, 141, 141);
}
.one-col button{
    border: 0;
    padding: 1vw;
    position: relative;
    bottom: 70px;
    cursor: pointer;
    background-color: rgb(251, 48, 82);
    color: white;
    font-weight: bold;
    transition: 2s ease;
    display: none;
    margin: auto;
}
@media screen and (max-width:800px){
    .one-col button{
        padding: 2vw;
    }
}
.two{
    position: relative;
    margin:0px auto 50px;
    width: 80%;
    font-family: sans-serif;
}
.two-cont{
    width: 100%;
    height: max-content;
    display: grid;
    grid-template-columns: auto auto;
    gap: 4vw 10vw;
    margin-top: 30px;
}
@media screen and (max-width:800px){
    .two-cont{
        grid-template-columns: auto;
        text-align: center;
    }
}
.two-col{
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
}
.two h2{
 color:white;
 text-shadow: 1px 1px 1px #791e15;
}
.two-col h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    text-align: left;
    font-size: 1.5vw;
    text-shadow: 1px 1px 1px #791e15;
}
@media screen and (max-width:650px){
    .two-col h2{
        font-size: 4vw;
    }
}
.two-col p{
font-size:1.1vw;
}
@media screen and (max-width:650px){
    .two-col p{
        font-size:3vw;
    }
}
.two-col span{
    font-size: 500%;
    
    padding: 10px 15px;
    margin: 3px;
}
@media screen and (max-width:800px){
    .two-col p{
        text-align: justify;
    }
}
.mission-btn button{
    border: 0;
    padding: 1vw 2vw;
    text-transform: uppercase;
    background-color: #791e15;
    color: white;
    font-weight: bold;
    margin-top: 20px;
}
@media screen and (max-width:600px){
    .mission-btn button{
        padding: 3.3vw 3vw;
    }
}
.latest{
    background-color: rgb(250, 247, 247);
    width: 100%;
    position: relative;
    margin: auto;
    text-align: center;
    padding: 30px 0;
    font-family: sans-serif;
    color: rgb(42, 42, 42);
}
.latest .l-p{
    width: 85%;
    position: relative;
    margin: auto;
    margin-bottom: 30px;
}
.three{
    width: 90%;
    position: relative;
    margin: auto;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 40px;
    font-family: sans-serif;
    font-size: 1.2vw;
}
@media screen and (max-width:1000px){
    .three{
        font-size: 1.6vw;
    }
}
@media screen and (max-width:800px){
    .three{
        font-size: 2vw;
    }
}
@media screen and (max-width:600px){
    .three{
        grid-template-columns: auto;
        font-size: 3vw;
        gap: 20px;
    }
}
@media screen and (max-width:600px){
    .adv{
        grid-template-columns: auto auto;
        font-size: 3vw;
        gap: 20px;
    }
}
.three div{
    padding: 20px;
    background-color: white;
    box-shadow: inset 3px 3px 5px #791e15, 0px 10px 10px rgb(164, 163, 163), inset -3px -3px 5px #791e15;
    color: black;
}
.three img{
    width: 100%;
    box-shadow:0px 10px 10px rgb(83, 83, 83);
    margin-bottom: 20px;
}
.three div h3{
    color: #791e15;
}
.three div button{
    border: 0;
    padding: 1vw 2vw;
    text-transform: uppercase;
    background-color: #791e15;
    color: white;
    font-weight: bold;
    margin-top: 20px;
}
@media screen and (max-width:600px){
    .three div button{
        padding: 3.3vw 3vw;
        font-size: 2.5vw;
    }
}
.four{
    background-image: url(shcfdn_image/11nn.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 40px 0;
    text-align: center;
}
.four div{
    background-color: #791e15;
    width: 85%;
    position: relative;
    margin: auto;
    opacity: 70%;
    padding: 20px 10px;
    text-align: center;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.four h2{
   font-size: 2vw;
   margin-bottom: 30px;
}
@media screen and (max-width:700px){
    .four h2{
        font-size: 4vw;
    }
}
.four form input{
    width: 60%;
    font-size: 20px;
    outline: 0;
    border: 0;
    height: 50px;
    background-color: white;
    box-shadow: -2px -2px 2px black, inset -2px -2px 2px #791e15;
}
.four form button{
    width: max-content;
    padding: 18px 14px;
    position: relative;
    bottom: 3.5px;
    border: 0;
    background-color: black;
    color: #791e15;
    font-weight: bold;
}
footer{
    background-image: url(shcfdn_image/9cd.jpg);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 10px 0;
    width: 100%;
    text-align: center;
    color: white;
}
footer img{
    width: 15vw;
}
footer span{
    padding: 1vw 2vw;
}
footer .border{
    border-right: 3px solid white;
}
footer .footer-media{
    margin-top: 20px;
}
footer .footer-media span{
    box-shadow: 0px 0px 1px rgb(22, 22, 22);
    margin: 0 5px;
}
.mobilemenu{
   position:fixed;
    height:100%;
    width:60%;
    color:white;
    background-color:#791e15;
    left:110%;
    font-family: sans-serif;
    padding:0 10%;
    top:0;
    transition:.5s ease;
    
}
.mobilemenu h2{
    text-align:left;
    padding:20px 0;
}
.mobilemenu span{
    padding:7px;
    background-color:#615c5c;
    cursor: pointer;
}
.mobilemenu p{
    padding:20px;
font-weight:bold;
    border-bottom:2px solid white;
    text-align: left;
    
}

.about-one{
    width: 90%;
    position: relative;
    margin: auto;
    margin-top: 40px;
    display: grid;
    grid-template-columns: auto auto;
    gap: 15px;
}
@media screen and (max-width:850px){
    .about-one{
        grid-template-columns: auto;
    }
}
.about-one .ceo-img{
    text-align: center;
    font-family: sans-serif;
}
.about-one img{
    border-radius: 20px;
}
.ceo-write{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.2vw;
    text-align: justify;
}
@media screen and (max-width:850px){
    .ceo-write{
        font-size: 2vw;
    }
}
@media screen and (max-width:650px){
    .ceo-write{
        font-size: 4vw;
    }
}
.ceo-write p{
    padding: 12px 10px;
}
.ceo-write .para p:nth-child(even){
    background-color: rgb(250, 247, 247);
}

.who-back{
    width: 100%;
    padding: 100px 0;
    background-color: white;
    margin-top: 20px;
    background-image: url(shcfdn_image/11ndd.jpg);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}

.who-abs{
    position: absolute;
    width: 100%;
    background-image: url(shcfdn_image/11n.jpg);
    padding: 140px 0;
    opacity: 30%;
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
}
@media screen and (max-width:800px){
    .who-abs{
        padding: 200px 0;
    }
}
.who-abs img{
    height: 100%;
    width: 100%;
}
    
.who-can{
    padding: 10px;
    width: 60%;
    margin: auto;
    position: relative;
    margin-top: 40px;
    text-align: center;
    font-size: 1.7vw;
}
@media screen and (max-width:650px){
    .who-can{
        width: 90%;
        font-size: 5vw;
    }
}
.can-list{
    display: grid;
    grid-template-columns: auto auto;
    gap: 2vw;
    text-align: left;
    margin-top: 20px;
}
@media screen and (max-width:650px){
    .can-list{
        grid-template-columns: auto;
    }
}
.can-list p{
    padding: 5px 0;
}
.can-list p span{
    color: #791e15;
}


.we-do{
    margin: 40px 0;
}

.do-list{
    display: grid;
    grid-template-columns: auto auto;
    gap: 2vw;
    text-align: left;
}
@media screen and (max-width:650px){
    .do-list{
        grid-template-columns: auto;
    }
}
.do-list p{
    padding: 5px 0;
}
.do-list p span{
    color: white;
    background-color: #791e15;
    border-radius: 50%;
    padding: 2px;
}



.mini-slider{
    height: 20vw;
    background-image: url(shcfdn_image/10.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    animation: slide 50s infinite;
    background-attachment: fixed;
    transition: 1s ease;
}
@media screen and (max-width:600px){
    .mini-slider{
        height: 40vw;
    }
}
.mini-slider .mini-abs{
    background-color: black;
    height: 20vw;
    width: 100%;
    position: absolute;
    opacity: 60%;
}
@media screen and (max-width:600px){
    .mini-slider .mini-abs{
        height: 40vw;
    }
}
.mini-slider .mini-rel{
    color: white;
    width: 80%;
    text-align: center;
    position: relative;
    margin: auto;
    font-size: 2vw;
    top: 13vw;
    font-family: sans-serif;
    transition: 2s ease;
    left: 100%;
}
@media screen and (max-width:600px){
    .mini-slider .mini-rel{
        font-size: 3vw;
        top: 30vw;
    }
}
.mini-slider .mini-rel h2{
    font-family: serif;
    text-transform: uppercase;
    letter-spacing: .2vw;
}
.handle{
    width: 90%;
    position: relative;
    box-shadow: inset 3px 3px 10px #791e15, 0px 10px 10px rgb(164, 163, 163), inset -3px -3px 10px #791e15;
    margin: 40px auto;
    padding: 20px 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.reach{
    width: 80%;
    position: relative;
    margin:auto;
    text-align: center;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 12px 20px;
}
@media screen and (max-width:1000px){
    .reach{
        grid-template-columns: auto auto;
        
        gap: 50px 0;
    }
}
@media screen and (max-width:600px){
    .reach{
        grid-template-columns: auto;
        gap: 50px 0;
    }
}
.reach span{
    font-size: 10vw;
    color: #791e15;
}
.reach p{
    font-size: 1.3vw;
}
@media screen and (max-width:900px){
    .reach p{
        font-size: 2vw;
    }
}
@media screen and (max-width:600px){
    .reach p{
        font-size: 2.5vw;
    }
}
.contact-form{
    background-color: rgb(250, 247, 247);
    width: 100%;
    padding: 50px 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}
.contact-form form{
    width: 70%;
    position: relative;
    margin: auto;
}
.contact-form form input{
    width: 100%;
    height: 50px;
    background-color: white;
    border: 0;
    box-shadow: inset 3px 3px 5px #791e15, 0px 10px 10px rgb(164, 163, 163), inset -3px -3px 5px #791e15;
    outline: 0;
    font-size: 110%;
}
.contact-form form textarea{
    width: 100%;
    background-color: white;
    border: 0;
    box-shadow: inset 3px 3px 5px #791e15, 0px 10px 10px rgb(164, 163, 163), inset -3px -3px 5px #791e15;
    outline: 0;
    font-size: 110%;
}
.contact-form form button{
    background-color: #791e15;
    color: white;
    padding: 15px 30px;
    border: 0;
    font-weight: bold;
}

.foot{
    width: 90%;
    position: relative;
    margin: auto;
    height: max-content;
    grid-template-columns: auto auto auto;
    display: grid;
    gap: 15px;
    text-align: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
@media screen and (max-width:800px){
    .foot{
        grid-template-columns: auto;
    }
}
.foot div{
    padding: 0 10px;
}
.foot span{
    font-size: 150%;
    color: #791e15;
}
.foot .foot-two p{
    margin: 5px;
}
.foot .foot-three .f-t-in{
    display: grid;
    grid-template-columns: 60% 38%;
    gap: 5px;
}
@media screen and (max-width:800px){
    .foot .foot-three .f-t-in{
        grid-template-columns: auto;
    }
}
.foot .foot-three .f-t-in img{
    width: 100%;
}
.foot .foot-three .f-t-in video{
    width: 100%;
}
.foot .foot-three .f-t-in video source{
    width: 100%;
}